
body {
    background: transparent;
    padding-top: 150px;
}

.navbar {
    background-color: #3C556C;
}


.navbar-fixed-top .nav {

    
}

#logo {
    padding-left: 50px;
    padding-top: 10px;
}

.navbar-fixed-top .navbar-brand {
    height: 96px;
}

footer {
    margin-top: 100px;
    padding: 10px 0;
    background-color: #3C556C;
   
}


@media(min-width:768px) {
    body {
        padding-top: 190px; 
    }

    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }

}
